<h1>Post details:</h1>

<h4> пишет <%= @row.author %></h4>
<h4><%= @row.content %></h4>
<p>
  <!--    дата поста-->
  <%= @row.created_at %><br />
</p>

<h3>Add New Comment </h3>

<p>
<form action="/details/<%= @row.id %>" method="POST">
  <textarea name="comment" class="form-control" placeholder="type your comment here" rows="6"></textarea>
  <br />

  <button type="submit" class="btn btn-primary">Add comment</button>
</form>
</p>

<h3><span style="background-color: #2a6496; color: ghostwhite;">Уже сделанные комменты</span></h3>

<% @rows.each do |row| %>
  <h4><%= row.content %></h4>
  <p>
    <!--    дата поста-->
    <%= row.created_at %><br />

  </p>
<% end%>